<div class="row">
  <div class="small-12 large-6 large-centered small-centered columns">
    <div class="panel">
      <h4>Phoenix Builder</h4>
      <br/><br/>
      <p>Ooops! Page Not Found. Check your link!</p>
  </div>
</div>

<!-- Footer --> 
<footer class="row" style="color:white; font-size:.9em;">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; Copyright Amabibi, 2019.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Disclaimer</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>     